@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Onest, sans-serif;
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  color: white;
  position: fixed;
  top: 0;
  z-index: 100;
}

.navbar h3 {
  font-size: 30px;
  color: aqua;
}

.navbar .links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar .links li {
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}

.navbar .links li:hover {
  color: aqua;
  transform: scale(1.1);
}






/* background: -webkit-linear-gradient(blue, #eee);
    background-clip: text;
  -webkit-text-fill-color: transparent; */
