@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Onest, sans-serif;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #000000;
}

*::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #FFFFFF;
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  color: white;
  position: fixed;
  top: 0;
  z-index: 100;
}

.navbar h3 {
  font-size: 30px;
  color: aqua;
}

.navbar .links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar .links a {
  text-decoration: none;
  color: white;
}

.navbar .links li {
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}

.navbar .links li:hover {
  color: aqua;
  transform: scale(1.1);
}

.btn {
  background: transparent;
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 40px;
}

.btn:hover {
  background: white;
  color: black;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.1;

}

.footer {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  border-top: 2px solid white;
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: white;
}




@media (max-width: 600px) {
  .navbar {
    display: none;
  }
  .footer {
    font-size: 12px;
    gap: 20px;
    padding: 0;
  }
  .footer .contact{
    gap: 5px;
  }
}
