@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Onest, sans-serif;
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  color: white;
  position: fixed;
  top: 0;
  z-index: 100;
}

.navbar h3 {
  font-size: 30px;
  color: aqua;
}

.navbar .links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar .links li {
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}

.navbar .links li:hover {
  color: aqua;
  transform: scale(1.1);
}

.headerContainer {
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(10, 22, 52, 1) 0%,
    black 42%
  );
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.headerInfo {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 130px;
  justify-content: center;
  color: white;
  gap: 20px;
}

.headerText h1 {
  font-size: 80px;
}

.headerText span {
  color: aqua;
}

.headerText h2 {
  font-size: 40px;
  background: -webkit-linear-gradient(aqua, #eee);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headerContact {
  display: flex;
  gap: 20px;
}

.headerContact a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.headerContact a:hover {
  background: white;
  color: black;
}

.headerImage {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerImage img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  animation: astronautMovement 6s ease-in-out infinite;
}

@keyframes astronautMovement {
  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
  25% {
    transform: translate(-5px, -5px) rotate(-2deg);
  }
  50% {
    transform: translate(5px, 5px) rotate(2deg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-2deg);
  }
}

.about {
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    at bottom left,
    rgba(83, 18, 148, 1) 0%,
    rgba(53, 12, 95, 1) 0%,
    rgba(32, 8, 57, 1) 16%,
    rgba(20, 5, 36, 1) 37%,
    rgba(0, 0, 0, 1) 61%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.about .aboutInfo {
  padding: 90px 50px 50px 50px;
  width: 50%;
  height: 100%;
}

.about .aboutInfo h2 {
  color: white;
  font-size: 50px;
  background: -webkit-linear-gradient(#ab00ff, #eee);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about .aboutInfo p {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about .aboutInfo span {
  color: #ab00ff;
}

.about .aboutInfo .btn {
  background: transparent;
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 40px;
}

.about .aboutInfo .btn:hover {
  background: white;
  color: black;
}

.about .aboutImage {
  width: 50%;
  height: 100%;
}

/* background: -webkit-linear-gradient(blue, #eee);
    background-clip: text;
  -webkit-text-fill-color: transparent; */
